<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Juego</title>
</head>
<body>
    <h1>Listado de Juegos</h1>
    <table>
        <tr>
            <th class="primary">Id</th>
            <th>Juego</th>
            <th>Genero</th>
            <th>Descripcion</th>
        </tr>
        <tr>
            <td><a target="_blank" href="update_game.html?id=1">Cell 1</a></td>
            <td>Cell 2</td>
            <td>Cell 3</td>
            <td>Cell 4</td>
        </tr>
        <tr>
            <td>Cell 5</td>
            <td>Cell 6</td>
            <td>Cell 7</td>
            <td>Cell 8</td>
        </tr>
    </table>



    <!--<select name="select">
        <option value="value1">Value 1</option>
        <option value="value2" selected>Value 2</option>
        <option value="value3">Value 3</option>
    </select>-->
    <a href="games.html">Volver a Juegos</a>
</body>
</body>
</html>