<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juegos OnLine</title>
    <link  rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Listado de Juegos</h1>
    <table>
        <tr>
            <th class="primary">Id</th>
            <th>Juego</th>
            <th>Genero</th>
            <th>Descripcion</th>
        </tr>
        <tr>
            <td><a target="_blank" href="update_game.html?id=1">Cell 1</a></td>
            <td>Cell 2</td>
            <td>Cell 3</td>
            <td>Cell 4</td>
        </tr>
        <tr>
            <td>Cell 5</td>
            <td>Cell 6</td>
            <td>Cell 7</td>
            <td>Cell 8</td>
        </tr>
    </table>
    <a href="create_game.html">Agregar Juego</a>
</body>
</html>