<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | CTJF</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="login-box">
    <img class= "avatar" src="/static/imagenes/logoctjf2.png" alt="Logo CTJF">
    <h1>Login here</h1>
    <form method="post" action="/login">
    <!--Username-->
    <label for="username">Username</label>
    <input id="username" name="username" type="text" placeholder="enter email or username">
    <!--Pasword-->
    <label for="password">Password</label>
    <input id="password" type="password" name="password" type="text" placeholder="enter password">
    <input id="login" name="login" type="submit" value="Log In">
    <a href="#">Forgot your password?</a><br>
    <a href="register.html">Register Here!</a>
    </form>
  </div>
</body>
</html>